{% extends 'bootstrap/base.html' %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="../static/css/main.css">
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - Structured Safety{% else %}Welcome to Structured Safety{% endif %}
{% endblock %}

{% block navbar%}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Structured Safety</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{{ url_for('main.demo') }}">Demo</a>
                <a class="nav-item nav-link" href="#">Contact Us</a>
            </div>
            <span class="navbar-nav navbar-right">
                {% if current_user.is_anonymous %}
                <a class="btn btn-sm btn-outline-primary mr-sm-2" href="{{ url_for('auth.login') }}">Login</a>
                <a class="btn btn-sm btn-outline-secondary mr-sm-2" href="{{ url_for('auth.register') }}"> Register</a>
                {% else %}
                <a class="btn btn-sm btn-outline-secondary mr-sm-2" 
                    href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
                <a class="btn btn-sm btn-success my-2 my-sm-0" href="{{ url_for('auth.logout') }}">Logout</a>
                {% endif %}
            </span>
        </div>
    </nav>
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %} {% endblock %}

    <footer class="page-footer font-small bg-dark text-light">
        <div class="footer-copyright text-center py-3">© 2019 Copyright Structured Safety
        </div>
    </footer>

{% endblock %}