{% extends "base.html" %}

{% block app_content %}
<div class="container py-5">
<h1>{{title|replace("_", " ")}}</h1><hr>
<p>Because this is a demo, we thought we'd put the QR code for this page right here! Go ahead and open the camera app on your
    phone and hover it over the QR code. You should see a prompt asking you to visit this page on your phone after it reads
    the code. Tap the prompt and you should end up here!
</p>
<p>By the way, you don't dont have to show your QR code here like this. Its just here as part of the demonstration!</p>
<img src="{{url_for('static', filename='img/demo-qr-code.png')}}" alt="">
{%for item in files.children recursive %}
    {% if item.name == "Policies" %}
        <div class="accordian">
            <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#{{item.name}}">
                    <h5 class="mb-0">
                    <button class="btn btn-link" aria-expanded="false" aria-controls="{{item.name}}">
                        {{item.name | replace("_", " ")}}
                    </button>
                    </h5>
                </div>
                <div id="{{item.name}}" class="collapse" aria-labelledby="{{item.name}}" data-parent="#accordion">
                    <div class="card-body">
                        {% for child in item.children | sort(attribute='name') %}
                        {% if child.children|length > 0 %}
                            <h5>{{child.name}}</h5><hr>
                            {% for innerChild in child.children %}
                            <ul><a href="{{ url_for('main.fetchFile', company_name=title, sub_directory=item.name, sub_directory2=child.name, file_name=innerChild.name) }}">
                                {{innerChild.name|replace("_", " ")|replace("-", " ")}}
                            </a></ul>
                            {% endfor %}
                        {% else %}
                            <ul><a href="{{ url_for('main.fetchFile', company_name=title, sub_directory=item.name, sub_directory2='None', file_name=child.name) }}">
                                {{child.name|replace("_", " ")|replace("-", " ")}}
                            </a></ul>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}        
{% endfor %}
{% for item in files.children recursive %}
    {% if item.name=="Safety_Data_Sheets" %}
        <div class="accordian">
            <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#{{item.name}}">
                    <h5 class="mb-0">
                    <button class="btn btn-link" aria-expanded="false" aria-controls="{{item.name}}">
                        {{item.name | replace("_", " ")}}
                    </button>
                    </h5>
                </div>
                <div id="{{item.name}}" class="collapse" aria-labelledby="{{item.name}}" data-parent="#accordion">
                    <div class="card-body">
                        {% for child in item.children | sort(attribute='name') %}
                        {% if child.children|length > 0 %}
                            <h5>{{child.name}}</h5><hr>
                            {% for innerChild in child.children | sort(attribute='name')%}
                            <ul><a href="{{ url_for('main.fetchFile', company_name=title, sub_directory=item.name, sub_directory2=child.name, file_name=innerChild.name) }}">
                                {{innerChild.name|replace("_", " ")|replace("-", " ")}}
                            </a></ul>
                            {% endfor %}
                        {% else %}
                            <ul><a href="{{ url_for('main.fetchFile', company_name=title, sub_directory=item.name, sub_directory2='None', file_name=child.name) }}">
                                {{child.name|replace("_", " ")|replace("-", " ")}}
                            </a></ul>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
{% for item in files.children recursive %}
    {% if item.name == "Forms" %}
        <div class="accordian">
            <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#{{item.name}}">
                    <h5 class="mb-0">
                    <button class="btn btn-link" aria-expanded="false" aria-controls="{{item.name}}">
                        {{item.name | replace("_", " ")}}
                    </button>
                    </h5>
                </div>
                <div id="{{item.name}}" class="collapse" aria-labelledby="{{item.name}}" data-parent="#accordion">
                    <div class="card-body">
                        {% for child in item.children | sort(attribute='name')%}
                        {% if child.children|length > 0 %}
                            <h5>{{child.name}}</h5><hr>
                            {% for innerChild in child.children | sort(attribute='name')%}
                            <ul><a href="{{ url_for('main.fetchFile', company_name=title, sub_directory=item.name, sub_directory2=child.name, file_name=innerChild.name) }}">
                                {{innerChild.name|replace("_", " ")|replace("-", " ")}}
                            </a></ul>
                            {% endfor %}
                        {% else %}
                        <ul><a href="{{ url_for('main.fetchFile', company_name=title, sub_directory=item.name, sub_directory2='None', file_name=child.name) }}">
                            {{child.name|replace("_", " ")|replace("-", " ")}}
                        </a></ul>
                        {% endif %}
                        {% endfor %}
                        <small>* For forms to be fillable, they must be downloaded and opened through Adobe Acrobat Reader for PDFs. They are not fillable in a browser. The Adobe Acrobat reader can be found at in the iOS and Android app stores. They are also available on any Mac or Windows computer. Once installed, open the PDF as normal in your browser. From here, tap the share button and share it to the Adobe Acrobat Reader. In this application, the forms are fillable and can then be emailed through your work, or personal email.</small>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
{% for item in files.children recursive %}
    {% if item.name == "Miscellaneous" %}
        <div class="accordian">
            <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#{{item.name}}">
                    <h5 class="mb-0">
                    <button class="btn btn-link" aria-expanded="false" aria-controls="{{item.name}}">
                        {{item.name | replace("_", " ")}}
                    </button>
                    </h5>
                </div>
                <div id="{{item.name}}" class="collapse" aria-labelledby="{{item.name}}" data-parent="#accordion">
                    <div class="card-body">
                        {% for child in item.children | sort(attribute='name')%}
                        {% if child.children|length > 0 %}
                            <h5>{{child.name}}</h5><hr>
                            {% for innerChild in child.children | sort(attribute='name')%}
                            <ul><a href="{{ url_for('main.fetchFile', company_name=title, sub_directory=item.name, sub_directory2=child.name, file_name=innerChild.name) }}">
                                {{innerChild.name|replace("_", " ")|replace("-", " ")}}
                            </a></ul>
                            {% endfor %}
                        {% else %}
                        <ul><a href="{{ url_for('main.fetchFile', company_name=title, sub_directory=item.name, sub_directory2='None', file_name=child.name) }}">
                            {{child.name|replace("_", " ")|replace("-", " ")}}
                        </a></ul>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
</div>
{% endblock %}