{% extends "base.html" %}

{% block app_content %}
<span class="py-5">
    <div class="container">
        <h1>Hello, 
            {% if user.first_name != None %}
            {{ user.first_name[0]|upper }}{{ user.first_name[1:] }}! 
            {% else %}
            {{user.username[0]|upper}}{{ user.username[1:] }}! 
            {% endif %}
            What would you like to do?</h1>
    </div> 
</span>
<div class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a class="card text-center" href="{{ url_for('main.company', company_name=company.company_name) }}">
                    <h5 class="card-title">Visit your Company</h5>
                    <p class="card-text">View your company's documents and forms.</p>
                </a>
            </div>
            <div class="col-sm-6">
                <a class="card text-center" href="{{url_for('auth.companyRegistration')}}">
                    <h5 class="card-title">Create a new Company</h5>
                    <p class="card-text">Create a company to host your documents, forms and other data.</p>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}